<h1>{{title}}</h1>
<p>Lista de times de futebol:</p>
<ul>
  {{#each times}}
    <li><strong>{{nome}}</strong> - {{cidade}}</li>
  {{/each}}
</ul>
<p><a href="/futebol" style="color:#0074d9; text-decoration:none;">Voltar para Futebol</a></p>
